address {
    @include margin-shorthand-with-screens-support((
        top: $address-margin-top,
        bottom: $address-margin-bottom,
        left: $address-margin-left,
        right:$address-margin-right
    ), $address-margin-for-screens);
    @include border-shorthand(map-merge((
        border: (
            width: $address-border-width,
            style: $address-border-style,
            color: $address-border-color,
            make-shorthand: true
        )
    ), $address-borders));
    @include padding-shorthand((
        top: $address-padding-top, 
        bottom: $address-padding-bottom, 
        left: $address-padding-left, 
        right: $address-padding-right
    ));
    font-style: $address-font-style;
    @include address-extra-style();
}