address {
    @include margin-shorthand-with-screens-support((
        top: $address-margin-top,
        bottom: $address-margin-bottom,
        left: $address-margin-left,
        right:$address-margin-right
    ), $address-margin-for-screens);
    @include border-shorthand((
        border: (
            width: $address-border-width,
            style: $address-border-style,
            color: $address-border-color,
            make-shorthand: true
        ),
        border-top: (
            width: $address-border-top-width,
            style: $address-border-top-style,
            color: $address-border-top-color,
            make-shorthand: $address-border-top-make-shorthand
        ),
        border-bottom: (
            width: $address-border-bottom-width,
            style: $address-border-bottom-style,
            color: $address-border-bottom-color,
            make-shorthand: $address-border-bottom-make-shorthand
        ),
        border-left: (
            width: $address-border-left-width,
            style: $address-border-left-style,
            color: $address-border-left-color,
            make-shorthand: $address-border-left-make-shorthand
        ),
        border-right: (
            width: $address-border-right-width,
            style: $address-border-right-style,
            color: $address-border-right-color,
            make-shorthand: $address-border-right-make-shorthand
        )
    ));
    @include padding-shorthand-with-screens-support((
        top: $address-padding-top, 
        bottom: $address-padding-bottom, 
        left: $address-padding-left, 
        right: $address-padding-right
    ), $address-padding-for-screens);
    font-style: $address-font-style;
    @include address-extra-style();
}