//Margins
$address-margin-top: $elements-margin-top !default;
$address-margin-bottom: $elements-margin-bottom !default;
$address-margin-left: $elements-margin-left !default;
$address-margin-right: $elements-margin-right !default;
$address-margin-for-screens: $elements-margin-for-screens !default;

//Borders
$address-border-width: 0 !default;
$address-border-style: null !default;
$address-border-color: null !default;
$address-borders: () !default;

//Paddings
$address-padding-top: 0 !default;
$address-padding-bottom: 0 !default;
$address-padding-left: 0 !default;
$address-padding-right: 0 !default;

//Font
$address-font-style: normal !default;

//Extra style
//@mixin address-extra-style() {} //Create this mixin before import module when you want add some special style for element